<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arnauac.vienaapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".ProductActivity.CategoryActivity" android:screenOrientation="portrait"/>

        <activity android:name=".fragments_MainActivity.RestaurantFragment.RestaurantActivity" android:screenOrientation="portrait"/>


        <activity android:name=".Detail_product" android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>